$paletaColores:(
    primario:rgb(245, 23, 160),
    secundario: rgb(245, 86, 23),
    negro: #000,
    blanco: #fff,
);
// .gradiant{
// 	background-image: linear-gradient(map-get($map: ($paletaColores, primario $key: $paletaColores,secundario);
// }

$familiaTipografica:(
    encabezado: "PT Mono", "monospace",
    subtitulos: "PT Serif", "serif",
    parrafo: "PT Mono", "monospace",
);
.tipoLetra{

    font-family: map-get(familiaTipografica,encabezado);
    font-family: map-get(familiaTipografica,subtitulos);
    font-family: map-get(familiaTipografica,parrafo);
}

@mixin estiloFuente($color,$fSize,$txtAling) {
    color:$color;
    font-size: $fSize;
    text-align: $txtAling;
}
p{
    @include estilofuente(black,20px,center);
}
.pie_pagina{
    width: 100%;
    background-color: aquamarine;
}
.pie_pagina .grupo_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie_pagina .grupo_1 .box figure{
   width: 100%; 
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pie_pagina .grupo_1 .box figure img{
    width: 250px;
}
.pie_pagina .grupo_1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    
}